@using Microsoft.AspNetCore.Identity
@using Get_Help.Infrastructure.Data.Models
@inject SignInManager<ApplicationUser> ClientSignInManager

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
@if (ClientSignInManager.IsSignedIn(User))
{
                <a class="navbar-brand" asp-area="Agent" asp-controller="Home" asp-action="Index">
                    <img class="h-2" src="/Images/Logo.png" />
                    Get Help
                </a>
}
else
{
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="h-2" src="/Images/Logo.png" />
                    Get Help
                </a>
}
            <partial name="_LoginPartial" />
        </div>
    </nav>
</header>
