@using Microsoft.AspNetCore.Identity
@using Get_Help.Infrastructure.Data.Models
@using Get_Help.Core.Models.Home
@inject SignInManager<Client> ClientSignInManager
@model List<TopicModel>

@{
    ViewData["Title"] = "Topics";
}

<div class="d-flex flex-column gap-2">

    @foreach (var topic in Model)
    {
        <a asp-action="OpenTicket" asp-route-id="@topic.Id" class="d-flex border border-primary h-2 justify-content-center">
            <p class="align-self-center">@topic.Name</p>
        </a>
    }

</div>